##### Pandas has two type of data structures
A) Series- It is a one dimensional array with indexes, it stores a single solumn or row of data in a dataframe

A 1-D array capable of holding any type of data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ser = pd.Series([1,2,3,4,5,6,7,8,9,10])
print(ser)

Creating a Series using a Specified Index

In [ ]:
ser = pd.Series([1,2,3,4,5,6,7,8,9,10], index=['a','b','c','d','e','f','g','h','i','j'])
print(ser)

Creating Series from 10 random numbers

In [ ]:
ser= pd.Series(np.random.rand(10))
ser

Accessing Elements in a Series

In [ ]:
element_byIndex=ser[2] #accessing element at index 2
element_byIndex

Performing Slicing on Series

In [ ]:
elements_byIndex=ser.iloc[2:6] 
elements_byIndex

##### B) Data Frame- It is a tablular spreadsheet like structure representing rows each of which contains one or multipe columns

A 2-D data structure with columns of potentially different types of data

Creating a Data Frame with random values

In [ ]:
df=pd.DataFrame(np.random.rand(8,3), index=np.arange(8))
df

Creating a Data Frame with index

In [ ]:
import pandas as pd
dict={
    "Name":['Shekhar','Sumit','Livi'],
    "Age":[23,21,23],
    "Min Qualification":['B.Tech','B.Tech','B.Tech']
}
new_df=pd.DataFrame(dict,index=['Alpha','Beta','Gamma'])
new_df

Selecting the First and Last Rows

In [ ]:
df.head() # Displays
df.tail()

Selecting a Specific Column in a DataFrame

In [ ]:
new_df2=new_df['Name']     
new_df2

If you want to retrieve more
than one column, pass in a list containing the column labels

In [ ]:
new_df2=(new_df[['Name','Age']])
new_df2

Slicing in Data Frame

In [ ]:
new_df3=df.iloc[:,0:2]
new_df3

Slicing Based on Row Number

In [ ]:
new_df4=df[2:7]
new_df4

Adding a Column in DataFrame

In [1]:
import pandas as pd
import numpy as np
dict={
    "Name":['Shekhar','Sumit','Livi'],
    "Age":[23,21,23],
    "Min Qualification":['B.Tech','B.Tech','B.Tech']
}
new_df=pd.DataFrame(dict,index=['Alpha','Beta','Gamma'])

branch=np.array(['CSE','ECE','CSE'])
new_df["Branch Code"]=branch
new_df

          Name  Age Min Qualification Branch Code
Alpha  Shekhar   23            B.Tech         CSE
Beta     Sumit   21            B.Tech         ECE
Gamma     Livi   23            B.Tech         CSE

Removing a column in Data Frame

In [ ]:
new_df.drop('Age',axis=1,inplace=True)
new_df

Removing Row

In [ ]:
new_df.drop('Alpha',axis=0,inplace=True)
new_df

Adding a Row

In [2]:
new_row={'Name':'Pravin',
        'Age':22,
        'Min Qualification':'B.Tech',
        'Branch Code':'CSE'}
new_df2=new_df.append(new_row,ignore_index=True)
new_df2

      Name  Age Min Qualification Branch Code
0  Shekhar   23            B.Tech         CSE
1    Sumit   21            B.Tech         ECE
2     Livi   23            B.Tech         CSE
3   Pravin   22            B.Tech         CSE